<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Dojo</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <h1>{{ dojo.dojo_name }} Dojo:</h1>
    <hr>
    <div class="container">
      
      <!-- TABLE START -->
      <table>
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Ninja Name
            </th>
            <th>
              Age
            </th>
            <th class="hidden">
              Action
            </th>
          </tr>
        </thead>
        <tbody>

          {% for ninja in dojo.ninjas %}
          <tr>
            <td>
              {{ ninja.id }}
            </td>
            <td>
              {{ ninja.first_name }} {{ ninja.last_name }}
            </td>
            <td>
              {{ ninja.age }}
            </td>
            <td class="flx f-small">
              <span class="mr">
                <a href="/edit/ninja/{{ ninja.id }}/form">Update</a>
              </span>
              <span>
                |
              </span>
              <span class="ml">
                <a href="/delete/ninja/{{ ninja.id }}/{{ dojo.id }}">Delete</a>
              </span>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <!-- TABLE END -->

    </div>
  </main>
  <footer>
    <a href="/dojos">
      Home
    </a>
  </footer>
</body>
</html>