<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Dojo</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <h1>New Dojo</h1>
    <hr>
    <div class="container">
      <!-- FORM START -->
      <form action="/add_to/dojos" method="post">
        <label for="dojo_name">
          <input 
          type="text" 
          name="dojo_name" 
          id="dojo_name"
          placeholder="dojo name">
        </label>
        <input 
        class="btn"
        type="submit" 
        value="Add Dojo">
      </form>
      <!-- FORM END -->
    </div>
    <div class="container mb">
      <h2 class="">All Dojos:</h2>
      <table>
        <thead>
          <tr class="hidden">
            <td>Dojo</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          {% for dojo in dojos %}
          <tr>
            <td>
              <a href="/view/dojo/{{ dojo.id }}">
                {{dojo.dojo_name}}
              </a>
            </td>
            <td>
              <a href='/delete/dojo/{{ dojo.id }}'>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <div>
      <a href="/view/ninja/form">Add Ninja</a>
    </div>
  </footer>
</body>
</html>